<div class="userSettingsDiv">

  <h6>name:</h6>
  <input placeholder="enter full name">

  <h6>email:</h6>
  <input placeholder="enter email">

  <h6>password:</h6>
  <input placeholder="confirm password">

</div>
