.userSettingsDiv {
  width: 460px;
  height: 300px;
  background-color: rgb(255, 200, 66);

  margin: 0 auto;
  padding: 20px;

  font-family: sans-serif;
  font-size: 24px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


h6 {
  margin: 0 auto 10px;
  text-transform: capitalize;
}


input {
  margin: 0 auto 40px;
  font-size: 22px;
}
