<h3>INCIDENTS</h3>

<ul class="incidentsDiv">
  <div class="incidentCard" *ngFor="let incident of incidents">

    <!-- header -->
    <div class="incidentHeader">
      <h4>INCIDENT ID : {{incident.id}}</h4>
    </div>
    <!-- header -->

    <!-- content -->
    <div class="incidentContent">

      <!-- top section -->
      <div class="incTop">

        <div class="incBasicInfo">
          <h5>TYPE: {{incident.type}}</h5>
          <h5>DATE : {{incident.date}}</h5>
          <h5>ADDRESS : {{incident.address}}</h5>
        </div>

        <div class="incButtons">
          <div id="incDetailsButton" class="incButton">
            FULL DETAILS
          </div>
          <div id="incEditButton" class="incButton">
            EDIT
          </div>
        </div>

      </div>
      <!-- top section -->

      <!-- middle section -->
      <div class="incMiddle">
        <h5 id="incDescHeader">DESCRIPTION :</h5>
        <div class="incidentDescription">
          <p>{{incident.description}}</p>
        </div>
      </div>
      <!-- middle section -->

      <div class="incTags">
        <div class="incTag" id="incHeart" (click)="onSelect(id)">&#9829;</div>
        <div class="incTag" id="incStar" (click)="onSelect(id)">&#9734;</div>
        <div class="incTag" id="incRecycle" (click)="onSelect(id)">&#9851;</div>

      </div>

    </div>
    <!-- content -->

  </div>
</ul>
