
h3 {
  text-align: center;
}

.incidentCard {
  font-family: sans-serif;
  margin: 20px auto;
  width: 600px;
  height: 380px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 3px 5px rgb(165, 165, 165);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.incidentHeader {
  width: 600px;
  height: 40px;
  padding-top: 20px;
  background-color: rgb(76, 146, 232)
}

h4 {
  margin: 0;
  margin-left: 20px;
  color: white;
  font-size: 20px;
}

.incidentContent {
  width: 580px;
  height: 300px;
  margin-bottom: 10px;
  padding: 10px;
}

.incTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.incBasicInfo {
  margin-top: 10px;
  width: 360px;
}


.incButton {
  margin: 10px;
  height: 40px;
  width: 140px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: bold;
}

.incButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}


#incDetailsButton {
  background-color: rgb(153, 255, 122);
}

#incEditButton {
  background-color: rgb(255, 101, 91);
}



.incidentContent h5 {
  margin: 0;
  margin-left: 20px;
}


.incMiddle {

}

#incDescHeader {
  margin-top: 10px;
  margin-bottom: 5px;
}

.incidentDescription {
  margin: 0 auto;
  background-color: white;
  width: 520px;
  height: 100px;
  padding: 5px;
}

.incidentDescription p {
  margin: 0;
}



/* TAGS */

.incTags {
  width: 110px;
  margin-top: 5px;
  margin-left: 440px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  color: gray;
  font-size: 30px;
}

.incTag:hover {
  cursor: pointer;
  transform: scale(1.2);
}
