<!-- nav bar at the top -->
<app-nav></app-nav>

<!-- primary section of app's home under the nav bar -->
<main>
  <h1>{{ title }}</h1>
  <h4>Welcome to {{ title }}! Click
    <a routerLink='/incidents'>here</a> to view incidents and click
    <a routerLink='/profiles'>here</a> to view the profile of the offenders.</h4>
</main>
<!--The content below is only a placeholder and can be replaced.-->

<!-- allows router functionality -->
<router-outlet></router-outlet>

