<!-- nav bar with their route links -->
<nav>
  <a class='border' routerLink='/'>Home</a>
  <a class='border' routerLink='/incidents'>Incidents</a>
  <a class='border' routerLink='/profiles'>Profiles</a>
  <a class='border' routerLink='/user-settings'>User Settings</a>
</nav>