nav a {
    margin: 2em auto;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border-bottom: hidden;
    text-decoration: none;
    color: rgb(255, 200, 66);
}

/* underlines the nav bar items on hover */

.border {
    position: relative;
}

.border:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid;
}

/* nav layout and background */

nav {
    display: flex;
    border: none;
    text-align: center;
    background: red;
    background-size: 100%;
}
